
@{
    ViewBag.Title = "Index";
}

<h2>Домашняя страница</h2>

<div class="jumbotron">
    <h1>TMS System</h1>
    <p class="lead">Веб приложение, которое позволяет вам учитывать время ваших сотрудников.</p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Приступить &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
            Для начала вам нужно зарегистрироваться. В этом случае вы получите доступ к своему личному кабинету,
            где легко можете создать свою компанию или присоедениться к компании. 
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Приступить &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Создание компании</h2>
        <p>Вы можете создать свою компанию и установив пароль входа принимать сотрудников. Так же вам будет доступен инструментарий получения отчетов о работе ваших сотрудников.</p>
        <p><a class="btn btn-default" href="~/Account/Login">Приступить &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Вступление в компанию</h2>
        <p>Подключившись к компании вы можете легко создавать сессии и оставлять к ним коментарии для лучшего опыта работы.</p>
        <p><a class="btn btn-default" href="~/Account/Login">Приступить &raquo;</a></p>
    </div>
</div>